
---
apiVersion: rbac.authorization.k8s.io/v1
kind: ClusterRole
metadata:
  creationTimestamp: null
  name: manager-role
rules:
- apiGroups:
  - batch.k8s.appscode.com
  resources:
  - pendingtasks
  verbs:
  - create
  - delete
  - get
  - list
  - patch
  - update
  - watch
- apiGroups:
  - batch.k8s.appscode.com
  resources:
  - pendingtasks/finalizers
  verbs:
  - update
- apiGroups:
  - batch.k8s.appscode.com
  resources:
  - pendingtasks/status
  verbs:
  - get
  - patch
  - update
